

@page "/"
@using Cobone.Models


<MudGrid>
@*    <MudItem xs="12" Class="d-flex align-stretch">
        <MudGrid Justify="Justify.FlexStart">
            <ProductCard Style="height:auto; display:flex" Class="flex-grow-1 order-0 align-self-stretch"></ProductCard>
            <MudItem Class="order-1">
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="12" >
                        <MudCarousel TData="object" AutoCycle="true" ShowArrows="false" ShowDelimiters="false" Style="height:250px">
                            <MudCarouselItem>
                                <div class="d-flex" style="height:100%; width:300px; background-image:url(/images/mpu.jpg)">
                                    
                                </div>
                            </MudCarouselItem>
                            <MudCarouselItem>
                                <div class="d-flex" style="height:100%; width:300px; background-image:url(/images/mpu-en.png)">
                                    
                                </div>
                            </MudCarouselItem>
                        </MudCarousel>
                    </MudItem>
                    <MudItem xs="12">
                        <NoContentProductCards xs="12"></NoContentProductCards>
                    </MudItem>
                    
                </MudGrid>
            </MudItem>

        </MudGrid>
    </MudItem>

*@
@*<h3>ClaimsPrincipal Data</h3>

<button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>
<hr/>
<button @onclick="Register">Register</button>
<hr/>
<button @onclick="Login">Login</button>
<hr/>
<button @onclick="Logout">Logout</button>
<hr/>
<p>@authMessage</p>

@if (claims.Count() > 0)
{
    <ul>
        @foreach (var claim in claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}

<p>@surnameMessage</p>*@


    @if (Layout is not null && Layout.HomeData is not default(Home?))
    {
        <CategoryPreviewBlock Xs="12" Products="@Layout.HomeData?.BestSeller" Title="Best Seller"></CategoryPreviewBlock>
        <CategoryPreviewBlock Xs="12" Products="@Layout.HomeData?.Latest" Title="Latest"></CategoryPreviewBlock>
        <CategoryPreviewBlock Xs="12" Products="@Layout.HomeData?.Specials" Title="Special"></CategoryPreviewBlock>
        
    }
    @if(CategoriesWithProducts is not null && CategoriesWithProducts.Count > 0)
    {
        foreach(var category in CategoriesWithProducts)
        {
            
            <CategoryPreviewBlock Xs="12" Products="@category.Products" Title="@category.Category.Name"></CategoryPreviewBlock>
        }
    }
    else
    {
        <MudItem xs="12" Class="pa-0 ma-0">
            <MudSkeleton Width="100%" Height="80px"/>
        </MudItem>
        
    }
    @*        <MudItem xs="12">
        <ProductCardsCarousel Source="@(new List<string>(){"adsf","asdf","asdfasd","asdfasdf","asdfasdf"})"></ProductCardsCarousel>
        </MudItem>*@
</MudGrid>
