@page "/productInfo/{Id}"
@inject IStringLocalizer<Resource> Loc


                    @if (Product is not null && Product is not default(FullProductInfo?))
                    {
<MudGrid Justify="Justify.Center">
    <MudItem lg="10">
        <MudGrid Justify="Justify.FlexStart" Spacing="3">
            <MudItem lg="8">
                <ProductDetails  Product="Product"/>
            </MudItem>
            <MudItem lg="4">
                <MudItem xs="12">

                        <MudPaper Class="pa-4" Outlined="true" Square="true">
@*                            <MudItem Style="@($"background-color:{Colors.Grey.Lighten2}; text-align:center;")" Class="pa-1">
                            <p>

                                <MudText Color="Color.Warning" Typo="Typo.h6" Align="Align.Center">
                                    <MudIcon Icon="@Icons.Filled.AccessTime" Color="Color.Warning" Size="Size.Small"></MudIcon>
                                    For a limited time only
                                </MudText>
                            </p>
                            <MudChip Icon="@Icons.Filled.CheckCircle" Label="true" Color="Color.Success"
                                     Variant="Variant.Outlined" Size="Size.Large"
                                     Style="@($"background-color:{Colors.Shades.White}; border-radius:0px; border-color:{Colors.Grey.Lighten1}")">
                                1550 BOUGHT
                            </MudChip>

                        </MudItem>
                        <br />*@
                            <MudItem Class="d-flex align-center flex-grow-1 gap-4">
                            <MudIcon Icon="@Icons.Filled.Menu" Title="Favorite" Style="color:#000000" Size="Size.Large"></MudIcon>
                        <MudText Typo="Typo.h6" Align="Align.Justify" Class="ma-0">
                                    @Loc["product-info-option"]
                        </MudText>
                        </MudItem>
                        
                        <MudList Clickable="false" Dense="false" DisableGutters="true">
                            <MudListItem Inset="false">
                                <CascadingValue Value="this">
                                 @if(Product.options.Length > 0){
                                    @foreach (var option in Product.options)
                                    {
                                        @foreach (var optionValue in option.option_value)
                                            {
                                                    var price = Product.Price;
                                                    var special = Product.Special;
                                                    if(optionValue.price_prefix == "+"){
                                                        price += optionValue.price;
                                                        special = special == 0 ? 0 : special + optionValue.price;
                                                    }else{
                                                        price -= optionValue.price;
                                                        special = special == 0 ? 0 : special - optionValue.price;
                                                    }
                                                    <DealOptionBlock Name="@optionValue.name" Price="price" Special="special" Quantity="@optionValue.quantity"
                                                    OptionId="@optionValue.product_option_value_id"/>
                                            }
                                        
                                    }
                                 }else{
                                <DealOptionBlock Price="@Product.Price" Special="@Product.Special" Quantity="@Product.Quantity" />
                                }
                                    </CascadingValue>
                            </MudListItem>
@*                            <MudListItem Inset="false">
                                <DealOptionBlock />
                            </MudListItem>
                            <MudListItem Inset="false">
                                <DealOptionBlock />
                            </MudListItem>*@
                        </MudList>
                        <MudItem>
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.Payment" Color="Color.Warning"
                                       FullWidth="true" Class="mb-1 mt-1" Size="Size.Large" OnClick="QuickCheckout">@Loc["product-info-quick-checkout"]</MudButton>
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.AddShoppingCart" Color="Color.Primary"
                                       FullWidth="true" Class="mt-1 mb-4" Size="Size.Large" OnClick="AddToCart">@Loc["product-info-add-to-cart"]</MudButton>
                        </MudItem>
                        <MudItem Style="text-align:center">
                            <h6>@Loc["product-info-share-deal"]</h6>
                            <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Color="Color.Primary" aria-label="github"></MudIconButton>
                            <MudIconButton Icon="@Icons.Custom.Brands.WhatsApp" Color="Color.Primary" aria-label="github"></MudIconButton>
                            <MudIconButton Icon="@Icons.Custom.Brands.Google" Color="Color.Primary" aria-label="github"></MudIconButton>
                            <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Color="Color.Primary" aria-label="github"></MudIconButton>
                            <MudIconButton Icon="@Icons.Custom.Brands.Instagram" Color="Color.Primary" aria-label="github"></MudIconButton>
                        </MudItem>
                    </MudPaper>
                    
                </MudItem>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
}


