@inherits LayoutComponentBase
@inject ICategoryDataService CategoryDataService
@inject IHomeDataService HomeDataService
@inject NavigationManager NavigationManager
@inject IAccountDataService AccountDataService
@inject ICartDataService CartDataService
@inject IBreakpointService BreakpointListener

@using System.Net
<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudGrid Justify="Justify.Center" Spacing="1">


        <!---AppBar-->
        <MudItem sm="12" xs="12" Style="padding:0">
            <MudAppBar Fixed="false" Color="Color.Primary" Elevation="0" Style="padding-top:10px; padding-bottom:10px;">

                @if (breakPoint < Breakpoint.Lg)
                {
                    <MudIconButton DisableElevation="true" DisableRipple="true" Icon="@Icons.Material.Filled.Menu"
                               Color="Color.Tertiary" Size="Size.Large" OnClick="@ToggleDrawer" />
                    <MudSpacer />
                }
                <MudLink Href="/" Class="pr-5">
                    <MudImage Width="181" Height="65" Fluid="true" Src="images/Logo.png" />
                </MudLink>
                <MudMenu FullWidth="true" Class="pr-5 align-self-stretch" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                    <ActivatorContent>
                        <MudButton Variant="Variant.Outlined" Color="Color.Tertiary" StartIcon="@Icons.Filled.Translate"
                                   Size="Size.Large" Class="ma-0 align-self-stretch rounded-lg" EndIcon="@Icons.Filled.ArrowDropDown">Language</MudButton>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem>English</MudMenuItem>
                        <MudMenuItem>Arabic</MudMenuItem>
                    </ChildContent>
                </MudMenu>
                <MudAutocomplete T="string" Label="What are you looking for" @bind-Value="Search" SearchFunc="@Search1" Variant="Variant.Filled" ShowProgressIndicator="true"
                                 ProgressIndicatorColor="Color.Tertiary" AdornmentIcon="@Icons.Material.Filled.Search" 
                                 AdornmentColor="Color.Tertiary" Class="ma-0 border-solid border-2 rounded-lg align-self-stretch" />

                <MudSpacer />

                @*<MudIconButton Icon="@Icons.Filled.Storefront" DisableElevation="true" DisableRipple="true" Size="Size.Large" Color="Color.Tertiary" OnClick="NavigateToMerchant" />*@
                @*<MudDivider Vertical="true" Light="true" FlexItem="true" Class="ma-3" />*@
                <MudButton DisableElevation="true" DisableRipple="true" Size="Size.Large" Color="Color.Tertiary"
                           OnClick="OpenSpecialPopOver">
                    <MudIcon Icon="@Icons.Filled.LocalPlay" Size="Size.Large" Color="Color.Tertiary"></MudIcon>

                    <MudPopover @bind-Open="SpecialPopoverOpen" OverflowBehavior="OverflowBehavior.FlipAlways" Direction="Direction.Top"
                                AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.BottomRight" RelativeWidth="false" Style="z-index:500">
                        <div class="pa-5">
                            <MudItem xs="12" xxl="12" Class="d-flex flex-grow-1 gap-4">
                                <MudText Typo="Typo.h6" Class="pr-5">Special Offers</MudText>
                                <MudSpacer />
                                <MudIconButton OnClick="CloseOverlay" Icon="@Icons.Outlined.Close" Class="pa-0 pl-5"></MudIconButton>
                            </MudItem>
                        </div>
                    </MudPopover>
                </MudButton>

                @if (breakPoint > Breakpoint.Md)
                {
                    <MudDivider Vertical="true" Light="true" FlexItem="true" Class="ma-3" />
                    <AuthorizeView>
                        <NotAuthorized>
                            <MudIconButton DisableElevation="true" DisableRipple="true" OnClick="GoToLogin" Icon="@Icons.Outlined.AccountCircle"
                                       Size="Size.Large" Color="Color.Tertiary">

                            </MudIconButton>
                        </NotAuthorized>

                        <Authorized>
                            <MudMenu Dense="true" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                                <ActivatorContent>
                                    <MudIconButton DisableElevation="true" DisableRipple="true" Icon="@Icons.Outlined.AccountCircle"
                                               Size="Size.Large" Color="Color.Tertiary">
                                    </MudIconButton>
                                </ActivatorContent>
                                <ChildContent>
                                    <MudMenuItem Href="account/orders">Orders</MudMenuItem>
                                    <MudMenuItem Href="account/credit">Credits</MudMenuItem>
                                    <MudMenuItem Href="account/data">Settings</MudMenuItem>
                                    <MudMenuItem OnClick="Logout">Logout</MudMenuItem>
                                </ChildContent>
                            </MudMenu>
                        </Authorized>

                    </AuthorizeView>
                }
                <MudDivider Vertical="true" FlexItem="true" Light="true" Class="ma-3" />
                <MudButton DisableElevation="false" DisableRipple="false" Class="pa-4 mt-2" OnClick="OpenCartPopOver">
                    <MudBadge Content="@Cart.total_product_count" Visible="@(Cart.total_product_count>0)" Overlap="true" Color="Color.Dark">
                        <MudIcon Icon="@Icons.Outlined.ShoppingCart" Size="Size.Large" Color="Color.Tertiary" />
                    </MudBadge>
                    <MudPopover @bind-Open="CartPopoverOpen" OverflowBehavior="OverflowBehavior.FlipAlways" Direction="Direction.Right"
                                AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" OffsetY="true" RelativeWidth="false" Style="z-index:500" Class="pa-0 ma-0">
                        <div class="pa-5" style="width:auto; max-width:100vw">
                            @*<MudGrid Class="pa-5" Spacing="2" Justify="Justify.FlexEnd" >*@
                            <MudItem xs="12" xxl="12" Class="d-flex flex-grow-1 gap-4">
                                <MudText Typo="Typo.h6" Class="pr-5">Your Shopping Cart</MudText>
                                <MudSpacer />
                                <MudIconButton OnClick="CloseOverlay" Icon="@Icons.Outlined.Close" Class="pa-0 pl-5"></MudIconButton>
                            </MudItem>
                            @if (Cart.total_product_count > 0)
                            {
                                <MudItem xs="12" xxl="12" Class="py-4 mt-3" Style="max-height:500px; overflow:scroll">
                                    <CascadingValue Value="this">
                                        @foreach (var product in Cart.products)
                                        {
                                            <CartItemComponent Product="@product" />
                                        }
                                    </CascadingValue>
                                </MudItem>

                                <MudItem xs="12" xxl="12" Class="pt-3">
                                    <MudText Typo="Typo.body2">ORDER TOTAL</MudText>
                                    <MudText Typo="Typo.h6">@Cart.total</MudText>
                                </MudItem>

                                <MudButton Variant="Variant.Filled" Color="Color.Primary"
                                       FullWidth="true" Class="my-2" Size="Size.Large" OnClick="Checkout">CheckOut</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Dark"
                                       FullWidth="true" Class="my-2" Size="Size.Large" OnClick="CloseOverlay">Continue Shopping</MudButton>
                            }
                            @* </MudGrid>*@
                        </div>
                    </MudPopover>
                </MudButton>
            </MudAppBar>
        </MudItem>
        <!---CategoriesAppBar-->
        @if (breakPoint > Breakpoint.Md)
        {
            <MudItem sm="12" xs="12">

                <CategoryAppBar Categories="@Categories">

                </CategoryAppBar>

            </MudItem>
        }
        else
        {
            <MudDrawer Class="z-30" @bind-Open="@openDrawer" Elevation="1">
                <MudPaper Elevation="25" Style="padding-top:10px;">
                    <MudToolBar>
                        <MudIconButton Icon="@Icons.Material.Outlined.ArrowBack" Color="Color.Primary" Size="Size.Large" OnClick="ToggleDrawer" />
                        <MudSpacer />
                        <MudIconButton Icon="@Icons.Outlined.AccountCircle" Color="Color.Primary" Size="Size.Large" />
                    </MudToolBar>
                </MudPaper>

                <MudPaper Width="250px" Class="py-3" Elevation="0">
                    <MudNavMenu Color="Color.Primary" Bordered="true" Rounded="true" Dense="false">
                        <MudNavLink Class="mud-nav-group" Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
                        @if (Categories is not null && Categories.Count > 0)
                        {
                            @foreach (var category in Categories)
                            {
                                if (category.Categories?.Count > 0)
                                {
                                    <MudNavGroup Title="@(WebUtility.HtmlDecode(category.Name))" Expanded="false">
                                        @foreach (var subCategory in category.Categories)
                                        {
                                            <MudNavLink Href="@($"/category/{@subCategory.Category_Id}")" Match="NavLinkMatch.All">@(WebUtility.HtmlDecode(subCategory.Name))</MudNavLink>
                                        }

                                    </MudNavGroup>
                                }
                                else
                                {
                                    <MudNavLink Href="@($"/category/{@category.Category_Id}")" Match="NavLinkMatch.All"
                                Class="mud-nav-group">@(WebUtility.HtmlDecode(category.Name))</MudNavLink>
                                }
                            }
                        }
                    </MudNavMenu>
                </MudPaper>
            </MudDrawer>
        }
        <MudItem Style="justify-content:center;" xs="10" xxl="10" Class="pa-0 mt-5">
            @if (HomeData is not null && HomeData is not default(Home?))

            {
                <TopAddCarousel SliderData="@HomeData.Slider" />
            }
        </MudItem>

    </MudGrid>


    <MudMainContent>
        <MudOverlay @bind-Visible="OverlayOpen" DarkBackground="true" ZIndex="450" AutoClose="true" OnClick="CloseOverlay" />
        <CascadingValue Value="this">
            <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pa-0">
                <MudGrid Justify="Justify.Center" Spacing="2">
                    <MudItem xs="10">
                        @Body
                    </MudItem>
                </MudGrid>
            </MudContainer>
        </CascadingValue>

        <MudScrollToTop>
            <MudFab Color="Color.Primary" IconSize="Size.Large" Icon="@Icons.Filled.ArrowCircleUp" />
        </MudScrollToTop>

    </MudMainContent>


    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pl-0 pr-0" Style="@($"background:{Colors.Grey.Lighten4}; margin-top:80px; padding-bottom:80px;")">
        <MudGrid Justify="Justify.Center" Class="pt-5">
            <MudItem xs="10" xxl="10">
                <MudGrid>
                    <MudItem xs="12" sm="12" md="4">
                        <MudStack>
                            <MudText Style="@($"color:{Colors.Grey.Default}")" Typo="Typo.subtitle2">COMPANY</MudText>
                            <MudLink Href="/aboutus" Underline="Underline.None" Class="link pl-5" Color="Color.Info" Typo="Typo.subtitle2">About us</MudLink>
                            <MudLink Href="/contactus" Underline="Underline.None" Class="link pl-5" Color="Color.Info" Typo="Typo.subtitle2">Contact us</MudLink>
                            <MudLink Href="/termsandconditions" Underline="Underline.None" Class="link pl-5" Color="Color.Info" Typo="Typo.subtitle2">Terms and conditions</MudLink>
                            <MudLink Href="/privacy" Underline="Underline.None" Class="link pl-5" Color="Color.Info" Typo="Typo.subtitle2">Privacy Policy</MudLink>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="4">
                        <MudStack>
                            <MudText Style="@($"color:{Colors.Grey.Default}")" Typo="Typo.subtitle2">LEARN MORE</MudText>
                            <MudLink Href="/howitworks" Underline="Underline.None" Class="link pl-5" Color="Color.Info" Typo="Typo.subtitle2">How it works</MudLink>
                            <MudLink Href="/howtobuy" Underline="Underline.None" Class="link pl-5" Color="Color.Info" Typo="Typo.subtitle2">How to buy</MudLink>
                            <MudLink Href="/howtopay" Underline="Underline.None" Class="link pl-5" Color="Color.Info" Typo="Typo.subtitle2">How to pay</MudLink>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="4">
                        <MudStack>
                            <MudText Style="@($"color:{Colors.Grey.Default}")" Typo="Typo.subtitle2">DOWNLOAD OUR APP</MudText>
                            <MudStack Row="true">
                                <MudPaper Class="mud-transparent d-flex justify-center align-center pa-4 pt-0" Style="height:100%" Elevation="0">
                                    <MudLink Href="https://apps.apple.com/eg/app/cobony/id1604234152">
                                        <MudImage Src="images/appstoreicon.png" Alt="IOS" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />
                                    </MudLink>
                                </MudPaper>

                                <MudPaper Class="mud-transparent d-flex justify-center align-center pa-4 pt-0" Style="height:100%" Elevation="0">
                                    <MudLink Href="https://play.google.com/store/apps/details?id=com.rokiba.cobony">
                                        <MudImage Src="images/playstoreicon.png" Alt="ANDRIOD" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />
                                    </MudLink>
                                </MudPaper>
                            </MudStack>
                            <MudText Style="@($"color:{Colors.Grey.Default}")" Typo="Typo.subtitle2">MEET US </MudText>
                            <MudStack Class="pa-4 pt-0">
                                <MudStack Row="true">
                                    <MudButton Href="https://facebook.com"
                                               Target="_blank"
                                               Variant="Variant.Filled"
                                               StartIcon="@Icons.Custom.Brands.Facebook"
                                               EndIcon="@Icons.Filled.ArrowRight"
                                               Color="Color.Tertiary"
                                               Style="@($"color:{Colors.Shades.Black}")"
                                               Size="Size.Large" FullWidth="true">

                                        Facebook
                                    </MudButton>
                                    <MudButton Href="https://instagram.com"
                                               Target="_blank"
                                               Variant="Variant.Filled"
                                               StartIcon="@Icons.Custom.Brands.Instagram"
                                               EndIcon="@Icons.Filled.ArrowRight"
                                               Color="Color.Tertiary"
                                               Style="@($"color:{Colors.Shades.Black}")"
                                               Size="Size.Large" FullWidth="true">
                                        Instagram
                                    </MudButton>
                                </MudStack>
                                <MudButton Href="/helpcenter"
                                           Variant="Variant.Filled"
                                           StartIcon="@Icons.Filled.HelpCenter"
                                           EndIcon="@Icons.Filled.ArrowRight"
                                           Color="Color.Tertiary"
                                           Style="@($"color:{Colors.Shades.Black}")"
                                           Size="Size.Large" FullWidth="true">

                                    Customer Service
                                </MudButton>
                            </MudStack>
                            <MudText Style="@($"color:{Colors.Grey.Default}")" Typo="Typo.subtitle2">CREDIT / DEBIT CARDS </MudText>
                            <MudStack Row="true">
                                <MudPaper Class="mud-transparent d-flex justify-center align-center pa-4 pt-0" Style="height:100%" Elevation="0">
                                    <MudImage Src="images/credit.png" Alt="credit" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />
                                </MudPaper>
                            </MudStack>
                        </MudStack>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudContainer>




</MudLayout>


