@using System.Net
@inject NavigationManager NavigationManager


<MudAppBar Dense="false" Fixed="false" Elevation="2" Color="Color.Secondary"
           Style="height:auto; justify-items:center; justify-content:center; text-align:center; z-index:300" DisableGutters="true" Class="overflow-auto">
    @if (Categories is not null && Categories.Count > 0)
    {
        <MudPopover @bind-Open="PopoverOpen" @onmouseleave="OnMouseLeave" Direction="Direction.Top" 
                AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.TopCenter" RelativeWidth="true" Style="z-index:400; width:83.33%" >
            <MudGrid Justify="Justify.FlexStart" Spacing="3" Class="pa-5">
                <MudItem xs="4" xxl="4">
                    <MudPaper Class="pa-3" Elevation="3" Outlined="true" Width="250">
                        <MudNavMenu Color="Color.Primary" Bordered="true" Rounded="true" Dense="false">
               
                            <MudButton Variant="Variant.Filled" Href="/" OnClick="OnNavigateLink"
                                   Class="mud-nav-group px-5 my-2" Style="text-align:left;" Color="Color.Dark">
                                <MudText Color="Color.Tertiary">Home</MudText>
                            </MudButton>
                            @if (Categories is not null && Categories.Count > 0)
                            {
                                @foreach (var category in Categories)
                                {
                                    <IdNavigation Category="@category" NavLinkLabel="@(WebUtility.HtmlDecode(category.Name))" 
                                    OnClick="OnNavigationMenuClick"> </IdNavigation>
                                }
                            }
                        </MudNavMenu>
                    </MudPaper>
                </MudItem>
                <MudItem xs="8" xxl="8">
                @if (OpenedCategory != null)
                {
                    <MudPaper Class="pa-3" Elevation="3" Outlined="true" Width="250">
                            <MudChip Color="Color.Dark" OnClick="OnAllDealsClick"><MudText>All Deals</MudText> </MudChip>
                            <MudDivider/>
                            <MudItem Class="ma-5">
                                <MudText Typo="Typo.h6" Style="font-weight:bold;">@(WebUtility.HtmlDecode(OpenedCategory.Name))</MudText>
                    @foreach (var subCategory in OpenedCategory.Categories)
                    {
                        
                            <MudLink @onclick="OnNavigateLink" Href="@($"category/{subCategory.Category_Id}")" Class="ma-3">
                                @(
                                    WebUtility.HtmlDecode(subCategory.Name)
                                    )
                            </MudLink>
                        
                    }
                    </MudItem>
                    </MudPaper>
                }
                </MudItem>
            </MudGrid>
        </MudPopover>
        <MudOverlay @bind-Visible="PopoverOpen" DarkBackground="true" ZIndex="200" AutoClose="true" />
        <MudSpacer  />
        <div class="d-flex justify-space-between flex-grow-1 gap-4" style="height:100%;">
        @foreach (var category in Categories)
        {
            <IdButton ButtonLabel="@(WebUtility.HtmlDecode(category.Name))" Style="height:auto; color:#000000; font-size:1.0rem; height:100%"
              Category="@category" OnClick="OnCategoryClick"></IdButton>
        }
        </div>
        <MudSpacer />
    }
</MudAppBar>

@code {
    [Parameter] public List<Category> Categories { get; set; }
    [Parameter] public string ButtonLabel { get; set; }
    [Parameter] public RenderFragment PopoverContent { get; set; }
    [Parameter] public string ButtonStyle { get; set; }
    public bool PopoverOpen { get; set; } = false;
    private Category? OpenedCategory = null;


    private void OnNavigationMenuClick(Category category){
        OpenedCategory = category;
        if(category.Categories?.Count == 0){
            NavigationManager.NavigateTo($"/category/{OpenedCategory.Category_Id}");
            PopoverOpen = false;
        }
        StateHasChanged();
    }

    private void OnAllDealsClick(){
        PopoverOpen = false;
        if(OpenedCategory is not null)
            NavigationManager.NavigateTo($"/category/{OpenedCategory.Category_Id}");
    }

    private void OnCategoryClick(Category category)
    {

        OpenedCategory = category;
        PopoverOpen = !PopoverOpen;
        if (category.Categories?.Count == 0)
        {
            NavigationManager.NavigateTo($"/category/{OpenedCategory.Category_Id}");
            PopoverOpen = false;
        }
        StateHasChanged();
    }

    private void OnMouseLeave()
    {
        //PopoverOpen = false;
    }
    private void OnNavigateLink(){
        PopoverOpen = false;
    }
}
