

<MudGrid Spacing="2">


    <MudItem xs="12">
        <h1>Product Title</h1>
        <h4>Prief product description that will probably be two lines, dssdsfsjkdfngjskdfngjkdfngjklnfdsgnjkdflksfndsjlndfg</h4>
    </MudItem>
    <MudItem xs="12">
        <MudRating ReadOnly="true" SelectedValue="4" />
        <MudChip Label="true">15 Ratings</MudChip>
    </MudItem>
    <MudItem xs="12">
        <MudCarousel ShowDelimiters="false" TData="object" AutoCycle="true" ShowArrows="true" AutoCycleTime="TimeSpan.FromSeconds(3)" Style="height:200px;">
            <MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary">
                <div class="d-flex" style="height:100%">
                    <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary">
                <div class="d-flex" style="height:100%">
                    <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Fade">
                <div class="d-flex" style="height:100%">
                    <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="pa-4" Outlined="true">
            <h3>
                <MudIcon Icon="@Icons.Filled.Menu" Title="Favorite" Color="Color.Info" Size="Size.Large"></MudIcon>
                Section Title
            </h3>


            <MudList Clickable="false" Dense="false" DisableGutters="false">
                <MudListItem Inset="false" IconColor="Color.Secondary" Icon="@Icons.Filled.ChevronRight">
                    Taste a variety of International food at Madareem Crown Hotel! Get a 5 Star breakfast, lunch or dinner buffet from SAR 69 - Child option is available
                </MudListItem>
                <MudListItem  Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary">
                    <p>
                    <b>Choose from the below options:</b><br />
                    <b>Option 1:</b> Breakfast buffet for one person for SAR 69<br />
                    <b>Option 2:</b> Lunch buffet for one adult for SAR 89<br />
                    <b>Option 3:</b> Dinner buffet for one adult for SAR 119<br />
                    <b>Option 4:</b> Lunch buffet for one child (6-12 years old) for SAR 49<br />
                    <b>Option 5:</b> Dinner buffet for one child (6-12 years old) for SAR 65
                    </p>
                </MudListItem>
                <MudListItem Text="Deal includes drinks" Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary" />
                <MudListItem Text="5 Star Hotel" Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary" />
            </MudList>

        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="pa-4" Outlined="true">
            <h3>
                <MudIcon Icon="@Icons.Filled.Menu" Title="Favorite" Color="Color.Info" Size="Size.Large"></MudIcon>
                Section Title
            </h3>


            <MudList Clickable="false" Dense="false" DisableGutters="false">
                <MudListItem Inset="false" IconColor="Color.Secondary" Icon="@Icons.Filled.ChevronRight">
                    Taste a variety of International food at Madareem Crown Hotel! Get a 5 Star breakfast, lunch or dinner buffet from SAR 69 - Child option is available
                </MudListItem>
                <MudListItem  Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary">
                    <p>
                    <b>Choose from the below options:</b><br />
                    <b>Option 1:</b> Breakfast buffet for one person for SAR 69<br />
                    <b>Option 2:</b> Lunch buffet for one adult for SAR 89<br />
                    <b>Option 3:</b> Dinner buffet for one adult for SAR 119<br />
                    <b>Option 4:</b> Lunch buffet for one child (6-12 years old) for SAR 49<br />
                    <b>Option 5:</b> Dinner buffet for one child (6-12 years old) for SAR 65
                    </p>
                </MudListItem>
                <MudListItem Text="Deal includes drinks" Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary" />
                <MudListItem Text="5 Star Hotel" Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary" />
            </MudList>

        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="pa-4" Outlined="true">
            <h3>
                <MudIcon Icon="@Icons.Filled.Menu" Title="Favorite" Color="Color.Info" Size="Size.Large"></MudIcon>
                Section Title
            </h3>


            <MudList Clickable="false" Dense="false" DisableGutters="false">
                <MudListItem Inset="false" IconColor="Color.Secondary" Icon="@Icons.Filled.ChevronRight">
                    Taste a variety of International food at Madareem Crown Hotel! Get a 5 Star breakfast, lunch or dinner buffet from SAR 69 - Child option is available
                </MudListItem>
                <MudListItem  Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary">
                    <p>
                    <b>Choose from the below options:</b><br />
                    <b>Option 1:</b> Breakfast buffet for one person for SAR 69<br />
                    <b>Option 2:</b> Lunch buffet for one adult for SAR 89<br />
                    <b>Option 3:</b> Dinner buffet for one adult for SAR 119<br />
                    <b>Option 4:</b> Lunch buffet for one child (6-12 years old) for SAR 49<br />
                    <b>Option 5:</b> Dinner buffet for one child (6-12 years old) for SAR 65
                    </p>
                </MudListItem>
                <MudListItem Text="Deal includes drinks" Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary" />
                <MudListItem Text="5 Star Hotel" Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary" />
            </MudList>

        </MudPaper>
    </MudItem>
        <MudItem xs="12">
        <MudPaper Class="pa-4" Outlined="true">
            <h3>
                <MudIcon Icon="@Icons.Filled.Menu" Title="Favorite" Color="Color.Info" Size="Size.Large"></MudIcon>
                Section Title
            </h3>


            <MudList Clickable="false" Dense="false" DisableGutters="false">
                <MudListItem Inset="false" IconColor="Color.Secondary" Icon="@Icons.Filled.ChevronRight">
                    Taste a variety of International food at Madareem Crown Hotel! Get a 5 Star breakfast, lunch or dinner buffet from SAR 69 - Child option is available
                </MudListItem>
                <MudListItem  Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary">
                    <p>
                    <b>Choose from the below options:</b><br />
                    <b>Option 1:</b> Breakfast buffet for one person for SAR 69<br />
                    <b>Option 2:</b> Lunch buffet for one adult for SAR 89<br />
                    <b>Option 3:</b> Dinner buffet for one adult for SAR 119<br />
                    <b>Option 4:</b> Lunch buffet for one child (6-12 years old) for SAR 49<br />
                    <b>Option 5:</b> Dinner buffet for one child (6-12 years old) for SAR 65
                    </p>
                </MudListItem>
                <MudListItem Text="Deal includes drinks" Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary" />
                <MudListItem Text="5 Star Hotel" Icon="@Icons.Filled.ChevronRight" IconColor="Color.Secondary" />
            </MudList>

        </MudPaper>
    </MudItem>
</MudGrid>
