

<MudGrid Spacing="2">
    <MudItem xs="12">
        <MudText Typo="Typo.h4">@((MarkupString)Product.Name)</MudText>
        <MudText Typo="Typo.h5">@((MarkupString)Product.Model)</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudRating ReadOnly="true" SelectedValue="@((int)Product.Rating)" />
    </MudItem>
    <MudItem xs="12">
        <MudCarousel Style="@($" width:100%; aspect-ratio:2; justify-content:center")"
                     ShowArrows="true" ShowDelimiters="true" AutoCycle="true" TData="object">
            @foreach (var image in Product.Original_Images)
            {
                <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary" Style="justify-content:center; width:100%; object-fit:cover">
                    <div class="d-flex" style="height:100%">
                        <MudImage Class="ma-0" Src="@image" Fluid="true" Style="object-fit:cover" />
                    </div>

                </MudCarouselItem>
            }
        </MudCarousel>



    </MudItem>
    <MudItem>
        @((MarkupString)Product.Description)
    </MudItem>
</MudGrid>
